:root{
    --fondoNav: #00579c;
    --fondoSection: #e2e2e2;
    --fondoMain: #ffffff;
    --fondoBoton: #00579c;
    --fondoFooter: #012f6b;
    --fondoBusquedafiltro: #ffffff;
    --fondoBusqueda: #e2e2e2;
    --colorLetra:  #26324e;
    --colorPagS: #7ecbfe;
    --colorLetraboton: white;
    --letraPequena: 300;
    --letraMediana: 400;
    --LetraGrande: 500;
    --LetraExtraG: 700;
    --colorPrimario: #8527c3fd;
    --colorPrimarioSuave:  #8527c383;
    --colorBlanco:  #fff;
    --alturaHeader: 70px;
    --paddingLeftRight: 0.5rem;
    --anchoMaximo: 1200px;
}

body{
    margin: 0px !important;
    /* height: 100vh; */
}

hr{
    width: 75%;
    color: var(--colorLetra);
}

.grid-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 400px 1fr 250px 60px;
    grid-template-areas: 
    'nav'
    'history'
    'productos'
    'contacto'
    'footer';
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.menu-hamburguesa{
    display: none;
}

nav {
    grid-area: nav;
    background: var(--fondoNav);
    /* width: 100%; */
    height: 100%;
    
}

nav{
    display: flex;
    height: 100%;
    font-weight: var(--LetraGrande);
    color: var(--fondoBusqueda);
    justify-content: space-between;
    align-items: center;
    padding: 0px var(--paddingLeftRight);
    flex-wrap: wrap;
    position: relative;
}

nav  .section1{
    display: flex;
    align-items: center;
    width: 70%;
}

.menu-hamburguesa:checked + .ul-link{
    height: calc(20vh - var(--alturaHeader));
}


.list_icon{
    color: var(--colorBlanco);
    cursor: pointer;
    padding: 10px 10px;
    /* gap: 10px 10px; */
    /* margin-right: 0.5rem; */
}

.ul-link{
    width: 100%;
    background-color: var(--fondoNav);
    color: var(--colorBlanco);
    position: absolute;
    top: var(--alturaHeader);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    gap:  5px;
    transition: all .3s;
}

.link{
    font-size: var(--letraPequena);
    color: var(--colorBlanco);
    /* font-weight: bold; */
}

.logo{
    padding-left: 10px;
    width: 15%;
    height: 20%;
}

section{
    grid-area: history;
}

.history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--fondoMain);
    gap: 20px 20px;
}

.history h2{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.history p{
    padding: 5px 10px;
    margin: 0px;
}


main {
    grid-area: productos;
    padding: 10px;
}

.main-section{
        width: 100%;
        padding: 10px 0px;
}

.container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

section a{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--colorLetra);
}

.card button{
    background-color: var(--fondoBoton);
    color: var(--colorLetraboton);
    border-radius: 5px;
    width:80px;
    height: 35px;
}

/* .card button:hover{
    border-radius: 10px;
    transform: scale(1.2);
} */

.imagen-card{
    width: 100%;
    align-items: center;
}


.imagen-card:hover  {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition: all 1s;
}

.imagen-card {
    overflow:hidden;
}

div .input-container{
    grid-area: contacto;
    width: 100%;
    background-color: var(--fondoMain);
    color: var(--colorLetra);
    padding: 10px 0px;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-container input{
    width: 80%;
    margin: 10px 40px;
}

.input-container h3{
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.input-container-input {
    color: var(--colorLetra);
    padding: 10px;
    /* border: none; */
    border-radius: 4px;
    outline: 2px solid white;
    background-color: transparent;
    transition: outline-color 500ms;
}

.input-container label{
    display: flex;
    justify-content: center;
}

.input-container-input-nombre:is(:focus, :valid) {
    outline-color: blueviolet;
}
.input-container-input-email:is(:focus, :valid) {
    outline-color: blueviolet;
}

.input-container-input-mensaje:is(:focus, :valid) {
    outline-color: blueviolet;
}


footer {
    grid-area: footer;
    width: 100%;
    background: var(--fondoFooter);
    color: var(--fondoBusqueda);
    padding: 10px 0px;
}

footer .icono{
    display: flex;
    justify-content: center;
    gap: 10px 10px;
    padding-bottom: 10px;
}

footer span{
    display: flex;
    font-size: var(--letraMediana);
    justify-content: center;
    color: var(--colorLetraboton);
    gap: 10px 0px;
}

/*Medias Query*/
@media (min-width: 576px) {
    .grid-container{
        grid-template-columns: 220px 1fr;
        grid-template-rows: 80px 1fr 80px;
        grid-template-areas: 
        'nav filtro'
        'nav productos'
        'footer productos';
    }

    nav{
        height: 93vh;
        flex-direction: column;
        justify-content: start;
    }

    .section1{
        justify-content: center;
    }

    .logo{
        margin-left: 0px;
        width: 40%;
        height: 50%;
    }

    .titulo{
        font-size: medium;
        align-items: start;
        /* font-weight: bold; */
    }

    .menu-hamburguesa{
        display: none;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        color: var(--colorLetraboton);
        justify-content: start;
        list-style: none;
        font-weight: 500;
        padding-left: 0px;
        margin-top: 40px;
        gap: 20px;
    }
    
    .container-card{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 0px;
    }

    .card{
        width: 30%;
    }

    footer{
        height: 20vh;
    }

    footer span{
        margin-left: 20px;
        font-size: 10px;
        justify-content: center;
    }
}
